* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal; */
    font-variation-settings:"slnt" 0;
    box-sizing: border-box;
}

:root {
	--background-main-color: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
	--secondary-color: #c2000c;
}

/* Common */
a {
    text-decoration: none;
}

.title-heading {
    color: #344767;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.card .title-header {
    color: #344767;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 12px;
}

.card {
    border: none;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.card-status, .card-status:hover {
    border: 1px solid #344767;
    color: #344767;
    font-weight: 600;
}

.card .active {
    background: #344767;
    color: #fff;
}

.card .card-body .input-group  input {
    border: 1px solid #d2d6da;
    border-right: none;
}

.card .card-body .input-group-append button {
    border: 1px solid #d2d6da;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.btn-add-new {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #344767;
    right: -190px;
}

.btn-add-new i {
    font-size: 14px;
    padding-right: 5px;
}

.btn-add-new:hover {
    background: #344767;
    color: #fff;
}

.table-common th {
    color: #495057;
    font-size: 16px;
}

.table-common input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.table-common input[type="checkbox"]:checked {
	accent-color: #344767;
	font-size: 10px;
}

.table-common tbody {
    font-size: 15px;
    color: #495057;
}

.pagination {
    margin: 30px 64px 0 0;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.pagination li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #8898aa;
    font-size: 14px;
    border: 1px solid #8898aa;
}

.pagination li button:hover {
    color: #8898aa;
    background-color: #dee2e6;
    border: 1px solid #dee2e6;
}

.pagination li button, .page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 9999px;
}

.pagination .active {
    border-radius: 9999px;
    color: #fff;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.pagination .active button {
    background: #344767;
    border: none;
}

/* Sort */

.sort {
    right: -80px;
	display: flex;
	align-items: center;
	position: relative;
}

.sort .title {
	margin-right: 5px;
	font-size: 16px;
	width: 70px;
}

.sort select {
	font-size: 15px;
	width: 160px;
	padding: 3px 6px;
	border: 1px solid #000;
	border-radius: 0;
	cursor: pointer;
}

.sort select:focus {
	box-shadow: none;
	border: 2px solid #000;
	border-radius: 3px;
}

.sort::after {
	position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 16px;
    right: 152px;
    border-top: 6px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* Input select position */
.select-position {
	display: inline-flex;
	border: 1px solid #ced4da;
    height: 35px;
    align-items: center;
	border-radius: 5px;
}
.select-position input {
	padding: 0;
	height: 30px;
	text-align: center;
	border: none;
	font-size: 15px;
    width: 20px;
}

.select-position input::-webkit-inner-spin-button {
	-webkit-appearance: none;
  }

.select-position span {
	cursor: pointer;
	font-size: 12px;
	padding: 10px;
}

/* Account detail */

.block-info {
	padding: 0 20px;
}

.block-info .block-content {
	margin-top: 20px;
}

.block-info .img-account {
	width: 250px;
	height: 350px;
}

.block-info img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.block-info .info-account{
	margin: 10px 0;
}

.block-content {
	display: flex;
	gap: 20px;
}

/* form-change-multi */
.form-change-multi {
	display: flex;
	align-items: center;
	position: relative;
}

.form-change-multi select {
    margin-right: 10px;
	font-size: 15px;
	width: 210px;
	padding: 7px 6px;
	border: 1px solid #000;
	border-radius: 2;
	cursor: pointer;
}

.form-change-multi select:focus {
	box-shadow: none;
	border: 2px solid #000;
	border-radius: 3px;
}

.form-change-multi::after {
	position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 16px;
    left: 183px;
    border-top: 6px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.form-change-multi button, .form-change-multi button:hover {
    font-size: 15px;
    background: #344767;
    color: #fff;
}

/* .button-action  */

.button-action a, .button-action button {
    font-size: 15px;
    font-weight: 700;
}

.button-action .btn-detail i {
    font-size: 18px;
}

.button-action .btn-detail {
    color: #117A65 ;
}

.button-action .btn-detail:hover {
    background: #117A65 ;
    color: #fff;
}

.button-action .btn-edit {
    color: #008080;
    /* color: #483D8B; */
}

.button-action .btn-edit:hover {
    background: #008080;
    color: #fff;
    /* color: #483D8B; */
}

.button-action .btn-delete {
    color: #DC143C;
}

.button-action .btn-delete:hover {
    background: #DC143C;
    color: #fff;
}

/* Empty category */
.empty-category {
	margin-top: 10px;
	padding: 12px 20px;
	border-radius: 10px;
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.thumbnail-account {
    width: 115px;
    height: 150px;
}


.table-order {
	font-size: 14px;
}

.table-order th {
	font-size: 15px;
}

.table-order .item-content {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}

.table-order i {
    color: #344767;
}

/* edit-common */
.edit-common {
    padding-right: 40px;
    font-size: 15px;
}

.edit-common label {
    margin: 15px 0 5px;
    font-weight: 600;
}

.edit-common input,.edit-common textarea {
    font-size: 14px;
}

.edit-common select {
    font-size: 14px;
    width: 250px;
    padding: 3px 6px;
	cursor: pointer;
}

.edit-common .form-check label {
    margin: 0 3px;
}

input[type="radio"]:checked {
    background-color: #344767;
    border: none;
    
}
/* file upload button */
.edit-common input[type="file"] {
    width: 250px;
}

.edit-common input[type="file"]::file-selector-button {
	border-radius: 4px;
	padding: 0 16px;
	height: 40px;
	cursor: pointer;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	margin-right: 16px;
	transition: background-color 200ms;
}

/* file upload button hover state */
.edit-common input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
.edit-common input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.btn-update, .btn-back{
    border: 1px solid #000;
    width: 120px;
    color: #000;
    font-weight: 600;
}

.btn-update:hover, .btn-back:hover{
    background: #000;
    color: #fff;
}

.btn-back {
    font-size: 15px;
}

.btn-back i {
    font-size: 13px;
    padding-right: 3px;
}

/* accordions */
.accordion-list {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.accordion.is-active .icon {
	transform: rotate(180deg);
	transition: transform 0.3s ease-out;
}

.accordion-header {
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 15px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
	cursor: pointer;
	border-radius: 4px;
	position: relative;
	border-bottom: 1px solid rgb(0 0 0 / 8%);
}

.accordion-icon .icon {
	width: 30px;
	height: 30px;
}
.accordion-content {
	transition: height 0.25s linear;
	margin-top: 4px;
	border-radius: 4px;
	height: 0;
	overflow: hidden;
}
.accordion-inner {
	line-height: 1.5;
	padding: 10px 0 10px;
}

.accordion-content-img {
	display: flex;
	justify-content: center;
}

.accordion-img {
	width: 568px;
	height: 800px;
}

.accordion-img img {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
}
/* end accordions */

/* product-detail */
.product-detail .inner-thumb{
	position: sticky;
	top: 40px;
	height: calc(100vh + 65px + 30px);
	width: 500px;
	height: 650px;
}

.product-detail .inner-thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-detail .inner-title {
	font-weight: 600;
	margin-bottom: 10px;
}

.product-detail .inner-category {
	font-size: 16px;
	margin-bottom: 10px;
	color: #646363;
}

.product-detail .inner-category a {
	color: #646363;
}

.product-detail .inner-price-new {
	color: #000;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 20px;
}

.product-detail .inner-price-old {
	color: #000;
	font-weight: 500;
	font-size: 18px;
	text-decoration: line-through;
}

.product-detail .inner-percent{
	color: red;
	font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
	display: inline-block;
}

.product-detail .inner-stock, .product-detail .inner-position {
	margin: 10px 0;
}
/* End product-detail */

/* table-permissions */
.table-permissions {
    font-size: 15px;
}

.table-permissions thead tr th {
    font-size: 16px;
    padding: 10px 7px;
}

.table-permissions td {
    padding: 7px;
}


.table-permissions input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.table-permissions input[type="checkbox"]:checked {
	accent-color: #344767;
}

/* Header */
.header {
    background: #f8f9fa;
    /* padding: 10px 0; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-left: 22px;
    color: #fff;
    width: 100px;
    height: 40px;
}

.header .inner-logo a img {
    width: 100%;
    height: 100%;
}
/* End Header */

/* Body */
.body {
    background: #f8f9fa;
    min-height: 100vh;
}

.body .sider {
    background: #f8f9fa;
    height: calc(100vh - 56px);
    position: fixed;
}

.body .main { 
    margin: 0 15px 15px;
    position: relative;
}
/* End Body */

/* Sider */
.sider .inner-menu ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
}

.sider ul {
    padding-left: 20px;
}

.sider ul li {
    margin: 5px 0;
}

.sider .inner-menu ul li a {
    font-size: 14px;
    color: #8392AB;
    display: block;
    padding: 6px 10px;
    /* border-bottom: 1px solid #515151; */
}

.sider .sider-item {
    display: flex;
    padding: 13px 15px;
    align-items: center;
}

.sider .sider-icon {
    color: #6c757d;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12)
}

.sider .inner-menu li .active, .sider .inner-menu li:hover {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.sider .inner-menu li .active a, .sider .inner-menu li:hover a {
    color: #344767;
    font-weight: 700;
}

.sider .inner-menu li .active .sider-icon, .sider .inner-menu li:hover .sider-icon {
    background-image: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
    color: #fff;
}
/* End Sider */

/* Show Alert */
[show-alert] {
	position: fixed;
	top: 70px;
	right: 15px;
	z-index: 9999;
}

[show-alert].alert-hidden {
	animation-name: alert-hidden;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

@keyframes alert-hidden {
	from {
		right: 15px;
	}
	to {
		right: -100%;
		display: none;
	}
}

[show-alert] [close-alert] {
	background: #ffffffc4;
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-weight: 600;
	border-radius: 50%;
	cursor: pointer;
}
/* End Show Alert */

/* Image Preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}
/* End Image Preview */

/* Form Login */

.form-fill .text-title {
	font-size: 25px;
	line-height: 1.2;
	text-align: center;
	padding: 10px 0;
}

.form-fill form {
	padding: 16px 15px;
}

.form-fill form label {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 8px;
}

.form-fill form input {
	height: 40px;
    padding: 0 20px;
    line-height: 40px;
    margin-bottom: 4px;
    border-radius: 3px;
    border-color: #e1e1e1;
    box-shadow: none;
}

.form-fill form input::placeholder  {
	color: #ced4da;
}

.form-fill form label span {
	color: #f00;
	margin-left: 5px;
}

.form-fill button {
	background: #fff;
	color: #000;
	border: 1px solid #000;
}

.form-fill button:hover {
	background: #000;
	color: #fff;
}
/* End Form Login */


/* sub-menu */
.sub-menu {
	position: relative;
	z-index: 999;
	cursor: pointer;
    font-size: 16px;
	/* padding: 15px; */
}

.sub-menu i {
    padding-right: 20px;
    padding-left: 20px;
    color: #67748e;
}

.sub-menu ul {
	position: absolute;
	right: 10px;
	top: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* background: #eae9e9; */
	width: 200px;
	display: none;
}


.sub-menu ul li {
	padding: 5px 10px;
	/* border-bottom: 1px solid #ddd; */
}

.sub-menu:hover > ul {
	display: block;
}

.sub-menu ul li a {
    text-align: left;
	display: block;
	color: #333333;
	font-weight: 600;
}

.sub-menu ul li a:hover {
    color: #FF7F00;
}

.sub-menu i:hover {
	color: #d62b08;
}
/* End sub-menu */

/* Dashboard */
.statistic {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
}

.statistic-item {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    background: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.statistic-item-icon {
    /* background-color: rgb(249, 250, 251); */
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.statistic-item-icon i {
    color: #cb0c9f;
    font-size: 30px;
}

.statistic-item-info {
    text-align: end;
}

.statistic-item-digits {
    font-size: 21px;
    font-weight: 800;
    color: #344767;
    margin-bottom: 5px;
}

.statistic-item-name {
    font-weight: 500;
    color: #344767;
}

.statitisTable {
    /* display: flex;
    flex-direction: column; */
    background: #fff;
    padding: 5px 20px 0;
    font-size: 14px;
}

.statitisTable .title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #344767;
}

.loyalCustomer {
    padding: 0 25px;
    gap: 20px;
    display: flex;
}

.statitisTableAvatar {
    width: 40px;
    height: 40px;
}

.statitisTableAvatar img {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    object-fit: cover;
}

.customer-info {
    text-align: start;
}

.export-report {
    font-size: 15px;
}

/* file upload button */
.export-report input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 10px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin: 0 8px 0 5px;
    transition: background-color 200ms;
}
  
  /* file upload button hover state */
.export-report input[type="file"]::file-selector-button:hover {
    background-color: #344767;
    color: #fff;
}
  
  /* file upload button active state */
.export-report input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.export-report button, .export-report button:hover {
    font-size: 14px;
    background: #344767;
    color: #fff;
}

.export-report button i {
    margin-right: 5px;
    font-size: 13px;
}
  
/* End Dashboard */