mixin cart-empty
    div(class="cart-empty")
        div(class="img-empty") 
            img(src="images/cart-empty.jpg")
        h3 "Hổng" có gì trong giỏ hết
        p Về trang cửa hàng để chọn mua sản phẩm bạn nhé!!
        a(href="/" title="Mua sắm ngay" class="btn-cart-empty") Mua sắm ngay